.postContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.postDetails{
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.postDetails{
    text-decoration: none;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}
.postImg:hover + .postDetails{
    display: flex;
}